$texts-white: #FFF;

$grafite: #1B1B1B;
$grafite-escuro: #131313;
$roxo-rosa: #C03AFF;
$cinza-alt: rgb(59, 59, 59);
$roxo-rosa-escuro: #8223ae;

$background-body: #303030;
$cinza: #303030;
$background-list-anime: #1B1B1B;
$background-card: rgb(14, 14, 14);