@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Karla:ital,wght@0,400;0,700;0,800;1,400&family=Signika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Karantina:wght@400;700&display=swap');

$font-titulo: 'Karantina';
$font-sub: 'Jockey One';

$font-aoboshi: 'Aoboshi One';
$font-karla: 'Karla';
$font-signika: 'Signika';